<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="appDBTPC.Herramientas.dbtpc" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <appDBTPC.Herramientas.dbtpc>
            <setting name="Usuario" serializeAs="String">
                <value>Usuario</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>TUSERVIDORSQLSERVER\EQUIPO</value>
            </setting>
            <setting name="Base" serializeAs="String">
                <value>Catalogo</value>
            </setting>
            <setting name="Acceso" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Query" serializeAs="String">
                <value>SELECT ID_distance, (o_CP + ',' + o_Asentamiento + ',' + o_Municipio + ',' + o_Estado) AS Origen, (d_CP + ',' + d_Asentamiento + ',' + d_Municipio + ',' + d_Estado) AS Destino, distancia_Km, distancia_Time FROM distanceCPs WHERE d_CP IS NOT NULL AND (distancia_Km IS NULL OR distancia_Time IS NULL) ORDER BY ID_distance</value>
            </setting>
            <setting name="Configura" serializeAs="String">
                <value>False</value>
            </setting>
        </appDBTPC.Herramientas.dbtpc>
    </userSettings>
</configuration>